.app_header_container {
    height: 810px;
}

.app_header_container_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 599px) {
    .app_header_container {
        height: 600px;
    }
}
